<% meta title: "Novo usu치rio", description: "Criar um novo usu치rio" %>

<h1 class="text-xl text-center font-bold text-gray-900 mt-8">Novo Usu치rio</h1>
<div class="flex justify-center mt-6">
  <%= link_to "Voltar para usu치rios", users_path, class: "px-4 py-2 border rounded-md hover:bg-gray-50" %>
</div>

<div class="max-w-2xl mx-auto mt-8">
  <%= render "form", user: @user %>
</div>
